@model SFS_UI.Models.CardViews;
@{
    ViewData["Title"] = "Home";
    var set_default = "LCI";
    var CN_default = "";

}
<h1>Welcome to SFScrape</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Search cards:</h4>
        </div>
        <div class="col-10 container-fluid">
            <div class="row g-1">
                <div class="col-6">
                    <input id="set" class="form-control" placeholder="Set..." value="@set_default" />
                </div>
                <div class="col-6">
                    <input id="cn" class="form-control" placeholder="Collectors Number..." value="@CN_default" />
                </div>
                <div class="col-6">
                    <input id="cardName" class="form-control" placeholder="Card Name..." />
                </div>
                <div class="col-6">
                    <input id="cardType" class="form-control" placeholder="Type..." />
                </div>
                <div class="col-6">
                    <input id="oracle" class="form-control" placeholder="Oracle..." />
                </div>
                <div class="col-6">
                    <input id="format" class="form-control" placeholder="Format..." />
                </div>
            </div>
        </div>
        <div class="col-2">
            <button id="searchButton" class="btn btn-success w-100 h-100">Search</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12" id="cardBlock">
            <div class="row">
                <div class="container-fluid col-12">
                    <div class="row">
                        @foreach (var card in Model.displayInventory)
                        {
                            @Html.Partial("_DisplayCard", card)
                        }

                        @foreach (var card in Model.displayCards)
                        {
                            @Html.Partial("_DisplayCard", card)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#searchButton").click(function(){
            console.log("Searching...")
            $.ajax({
                url: "../Resource/searchCards/",
                data:{
                    set: $("#set").val(),
                    cn: $("#cn").val(),
                    name: $("#cardName").val(),
                    type: $("#cardType").val(),
                    oracle: $("#oracle").val(),
                    format: $("#format").val()
                },
                success: function(result){
                    $("#cardBlock").html(result);
                },
                erorr: function(result){
                    console.log(result)
                }
            })
        })
    })
</script>
